In [2]:
import pandas as pd

创建一个DataFrame的数据表格

In [ ]:
#这样创建数据要求，数据长度一样
#因为是列表，所以会有行索引，这里行索引默认从0开始排序
data = pd.DataFrame({
    "yes":[50,60,40,80],
    "no":[10,20,30,40]
})
print(data)


#在创建DataFrame时，可以指定行索引
data = pd.DataFrame({
    "yes":[50,60,40,80],
    "no":[10,20,30,40]
}, index=["a","b","c","d"])#这里的index参数指定了行索引
print(data)

创建一个列表

In [ ]:
data = pd.Series([1,2,3,4])
print(data) 

#Series是一个一维的数据结构，类似于列表，但有索引,并且有一个整体的name
#可以通过索引访问数据   
data = pd.Series([1,2,3,4], index=["a","b","c","d"],name = "nihao")#这里的index参数指定了索引
print(data)

读取csv数据

In [ ]:
#这样读取的csv实际上还是DataFrame
data = pd.read_csv("C:\\Users\\lenovo\\Downloads\\play_tennis_500.csv")#读取csv数据
data,type(data),data.shape

In [ ]:
#查看前5行数据   #查看后5行数据
data.head(),     data.tail()

In [ ]:
#在有的时候，csv数据中第一列就是索引，但是pands不能自动检测到这一点，还是会自动添加一行作为索引，所以我们可以指定第一行为索引
#这时我们需要index_col=0参数
#这里的0表示第一列
#data = pd.read_csv("C:\\Users\\lenovo\\Downloads\\play_tennis_500.csv", index_col=0)#读取csv数据，指定第一列为索引

访问DataFrame中的数据

iloc主要是使用整数位置索引	

loc主要是使用行/列的标签名（索引/列名）

在选择或从 loc 和 iloc 之间切换时，有一个值得注意的"陷阱"，那就是这两种方法使用了略微不同的索引方案。

iloc 切片像 Python：df.iloc[0:2] 包含第0、1行（不含2）

loc 切片像 SQL：df.loc[100:101] 包含100和101行（包含尾部标签）

In [ ]:
#通过索引的方式，访问某一列的数据
#通过这个输入也可以看出，每一列都是一个Series
data["Temperature"] , type(data["Temperature"])

In [ ]:
#通过更加规范的方式访问数据
#访问某一行的元素
data.iloc[0]   ,   data.loc[0]

In [ ]:
#访问某一列元素
#采用索引的方式，表示的就是，所有行的0列      #切片的方式，前3行的0列       #列表的方式，前三行0列
data.iloc[:,0]                             , data.iloc[:3,0]          ,  data.iloc[[0,1,2],0]

In [ ]:
#访问某一特定元素             #访问多个元素
data.loc[0,"Temperature"]   ,   data.loc[:,["Temperature","Humidity"]]

访问Series中的具体元素

In [ ]:
data["Temperature"][0],type(data["Temperature"][0])#访问Series中的具体元素

#直接查看数据的整体信息

In [ ]:
data.info()

设置新的行索引

In [ ]:
#inplace=True表示在原来的 DataFrame 上直接修改，而不是返回一个新副本
#data.set_index("Temperature", inplace=True)#这样操作后，原本的Temperature列就变成了行索引
data.head()#查看修改后的数据

对数据进行提问(其实就是给出条件，判断满不满足，每一个元素满足，则对应行列为true)

In [ ]:
data.PlayTennis == "Yes",data.PlayTennis

通过条件查找数据

In [ ]:
#单条件                                    #多条件
data.loc[data.PlayTennis == "Yes"]  ,      data.loc[(data.PlayTennis == "Yes") & (data.Humidity == "High")]

In [ ]:
#两个内置的条件筛选函数
#isin 允许你选择值在某个值列表中的数据,其实返回的数据和data.PlayTennis == "Yes"是一样的
data.loc[data.PlayTennis.isin(["Yes"])]

In [ ]:
#第二个是 isnull （及其伙伴 notnull ）。这些方法允许你突出显示空值（或非空值） NaN
#这两个函数实际上是返回的一个Series，Series的值是布尔值
#所有 Temperature 列为 缺失值（NaN） 的行筛选出来；   所有 Temperature 列 不是缺失值（非 NaN） 的行也筛选出来
data.loc[data.Temperature.isnull()] ,                data.loc[data.Temperature.notnull()]

补全空值

In [ ]:
data.Temperature.fillna(0, inplace=True)  #将Temperature列的缺失值填充为0

访问列索引

In [ ]:
data.columns[0]

修改列表的数据

In [ ]:
#修改某一列为一个元素
data["PlayTennis"] = "Yes" #将PlayTennis列的所有元素都修改为Yes
data.iloc[:,-1]

In [ ]:
#使用迭代对象修改某一列元素
data["PlayTennis"] = range(len(data))#将PlayTennis列的所有元素都修改为0,1,2,3,4,5,6,7,8,9...
data.iloc[:,-1]

In [ ]:
type(data.loc[0:9,"PlayTennis"])#访问前10行的PlayTennis列

In [ ]:
#修改某一特定条件的所有的数据
 #将PlayTennis列中所有为Yes的元素修改为No
#data.loc[data.PlayTennis == "Yes", "PlayTennis"] = "No" 
# 第一个是哪个值徐要修改，第二个是修改后的值   
data.PlayTennis.replace("Yes", "No", inplace=True) #使用replace方法也可以实现同样的效果

摘要函数

In [ ]:
#describe() 会为 DataFrame 中的每个 数值型列（默认）生成 常见统计指标，比如平均数、标准差、最大值、最小值、四分位数等。
#当然是针对数值类型的数据才会输出，非数值类型不输出
data.describe() , data.loc[:,"PlayTennis"].describe()#PlayTennis列是非数值类型，所以不会输出

In [ ]:
#数值类型的一些操作
data.PlayTennis.mean()#对数值类型的列求平均值
data.PlayTennis.sum()#对数值类型的列求和
data.PlayTennis.max()#对数值类型的列求最大值
data.PlayTennis.min()#对数值类型的列求最小值
data.PlayTennis.std()#对数值类型的列求标准差    
data.PlayTennis.var()#对数值类型的列求方差
data.PlayTennis.count()#对数值类型的列求计数
data.PlayTennis.median()#对数值类型的列求中位数
data.PlayTennis.idxmax()   # 返回最大值所在的行索引
data.PlayTennis.nunique() #统计这一列有多少不重复的值

In [ ]:
#公用的操作
#返回唯一值,这个操作是针对Series的      #返回唯一值的计数
data.Temperature.unique()       ,  data.Temperature.value_counts()

映射

In [ ]:
data_playtennis_mean = data.PlayTennis.mean()#对数值类型的列求平均值

#.map(func) 会将 func 应用于 Series 的每一个元素，返回一个新的 Series。
data.PlayTennis.map(lambda x: x - data_playtennis_mean) #对PlayTennis列的每个元素加上平均值

#还有一种替换数据更高效的用法
#m = pd.Series()
#data.PlayTennis.map(m)#只要行数对应上，这样就可以高效替换数据

In [ ]:
#apply() 如果我们想通过在每一行上调用自定义方法来转换整个 DataFrame

def fun(row):
    row.PlayTennis = row.PlayTennis - data_playtennis_mean
    return row


data.apply(fun, axis=1) #对每一行应用fun函数，axis=1表示按行操作
#如果是按列操作，axis=0

分组操作

In [ ]:
#groupby() 的作用是：把DataFrame 根据某一列（或多列）相同的值进行“分组”，对每组进行聚合操作（如求和、计数、平均、最大值等）。
#只分组意义不大，关键是配合上聚合函数使用
data.groupby("Temperature").PlayTennis.mean()#对Temperature列进行分组，求每组的平均值

In [ ]:
#多级分组
a= data.groupby(["Temperature", "Humidity"]).PlayTennis.mean()#对Temperature和Humidity列进行分组，求每组的平均值
mi = a.index
#多级分组聚合后的数据Series                   #多级分组的索引               #将多级索引转换为普通列DataFrame
a,                                      mi                       ,   a.reset_index()

一些有用的函数

In [ ]:
#查看某一列的数据类型
data.PlayTennis.dtype

In [ ]:
#将某一列的数据类型转换为其他数据类型
a = data.PlayTennis.astype("str")   #将PlayTennis列的数据类型转换为字符串
#效果等同于data.PlayTennis.map(str)  #将PlayTennis列的每个元素转换为字符串

合并两个DataFrame

In [ ]:

person = pd.DataFrame({
    "personId": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]})
address = pd.DataFrame({
    "personId": [1, 2, 3],
    "address": ["123 Main St", "456 Maple Ave", "789 Oak Dr"]})     

#on参数指定了连接的列名，how参数指定了连接的方式
#这里的how参数可以是"left", "right", "outer", "inner"
'''
how 方式	说明
"inner"	只保留两个表中 都存在 的 personId(交集)
"left"	保留左表(person)中 所有行，右表中没有的用 NaN 填充
"right"	保留右表(address)中所有行
"outer"	两边都保留，不匹配的用 NaN 填充（并集）'''
merged = pd.merge(person, address, on="personId", how="left")

In [ ]:
#上面的方法是类似SQL的join操作，需要有主键的存在
#如果没有主键，可以使用concat方法，这个拼接就是简单的将两个DataFrame按列或按行连接起来
#只要维度方向（axis）正确，concat() 会自动对齐列名（或索引），不一致的部分会填 NaN。
merged = pd.concat([person, address], axis=0)  #axis=1表示按列连接 #如果是按行连接，axis=0

删除数据

In [ ]:

#删除某一行                                #删除某一列                                                   
merged.drop(index=1, inplace=True),        merged.drop(columns="address", inplace=True) #删除address列

In [ ]:
#还有一种删除列的方法
# axis=0: 删除行（按行索引标签） axis=1: 删除列（按列标签名）
droplist = ["personId"]
merged.drop(droplist,axis=1)

In [ ]:
#删除对应数据的行
merged = merged[merged.personId != 2] #删除personId为2的行

In [ ]:
#去除重复值#返回一个DataFrame并且把personId的重复值给删去
merged = merged.personId.drop_duplicates()

独热编码

In [ ]:
merged = pd.get_dummies(merged, columns=["name"], prefix=["name"])#独热编码
#这里的columns参数指定了需要进行独热编码的列，prefix参数指定了独热编码后列的前缀
#新列名 = prefix + "_" + 类别值
#如果有一个值是空值，那么独热编码后，他的所有值都是0
merged

In [ ]:
#可以把bool值转化为int
#merged.name_Alice = merged.name_Alice.map(lambda x: int(x))
merged.name_Alice = merged.name_Alice.astype(int)  #将name_Alice列的数据类型转换为整数
merged

划分数据(用于划分训练集和测试集使用)

In [ ]:
test_size = 0.2
#random_state 是随机数生成器的种子，它的作用是：
#让“随机抽样的结果可以复现”，也就是说：每次运行这行代码，都能得到相同的抽样结果。
#不设置 random_state，那么每次抽样的结果都可能不一样。
#得到的 test_data 的索引仍然是 原始 DataFrame 中的索引值，只是被随机打乱了。
#所以下面可以直接用drop来删除
test_data = data.sample(frac=test_size,random_state=42)
tran_data = data.drop(test_data.index)

透视
可以理解成把数据集的指定行列做一次旋转

In [ ]:
#比如我们想把某个DataFrame的某一列作为索引，某一列作为对应的值就可以采用透视
hhh = pd.DataFrame({
    "data":[202001,202002],
    "hour":[0,1],
    "type": ["A", "B"],
    "value":[10,20]
})

'''
index=['date', 'hour']
指定行索引键。每个 (date, hour) 组合在结果里成为一行（即 MultiIndex 的一条记录）。
要求：对于同一个 (date, hour, type)，最多只能有一条记录；否则 pivot 会报错（因为一个格子不可能放两条值）

columns='type'
指定列索引键。type 的唯一取值（如 A,B)会变成结果表的列。

values='value'
指定填充值来源列。也可以给一个列表（如 values=['东四','西四'])，这时结果会得到分层列索引(MultiIndex columns),
通常外层是你提供的 values 名称，内层是 type 的唯一值。
'''
ooo = hhh.pivot(index=["data","hour"], columns="type", values="value")#这里的index参数指定了行索引，columns参数指定了列索引，values参数指定了对应的值

#排序并恢复普通列
#sort_index() 是对行索引进行排序,就是前面设置的index=["data","hour"]
#reset_index() 是将索引转换为普通列
ooo = ooo.sort_index().reset_index()
ooo

type    data  hour     A     B
0     202001     0  10.0   NaN
1     202002     1   NaN  20.0